

body{
	
}
h1{
	font-size:30px;
	text-decoration:underline ;
}
h2{
	font-size:25px;
	color:blue;
}

.texte-bleu{
	color:red;
}
#premium{
	font-weight:bold;
	color:green;
}

p{
	color: #000000;
	font-size: 14px;
}
span{
	font-weight:bold;
}



