@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body {
        background: url(https://source.unsplash.com/random);
        background-size:cover;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

}
.container
{
            position: relative;
            width: 100%;
            max-width: 1000px;
            min-height: 1000px;
            background: #fff;
            margin: 50px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}
.container .left_side
{
    position: relative;
    background:  rgb(60, 167, 108);
    padding: 40px;

}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 95px;
    overflow: hidden;
}
.profileText .imgBx .img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;
    position: relative;
    top: 20px;

}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    list-style: none;
    position: relative;
    margin: 10px 0;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 20px;
    font-size: 18px;
    color: white;
}
.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
    
}
.contactInfo ul li span a
{
    color: #fff;
    font-weight: 300;
    text-decoration:none
}
.contactInfo.education li
{
    margin-bottom: 15px;

}
.contactInfo.education h5
{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4
{
    color: #fff;
    font-weight: 300;
}
/*.contactInfo.language
{
    position: relative;
    top: 100px;
}*/
.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
}

.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: rgb(60, 167, 108);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #333;
}
.about1
{
    top: 10px;
    position: relative;
}
.about1 .Box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about1 .Box .annee
{
    min-width: 150px;
}
.espace
{
    position: relative;
    left: 50px;
    font-size: 14px;
}
.espace1
{
    position: relative;
    left: 40px;
}
.about1 .Box .annee h5
{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.skills
{
    position: relative;
    top: 60px;
}
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    position: relative;
    padding: 15px;
    color: #848c90;
    font-weight: 500;
}
.skills .box  .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: black;
    display: block;
    margin-top: 5px;
}
.skills .box  .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(60, 167, 108);
}
.loisir
{
    position: relative;
    top: 20px;
}
.loisir ul
{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.loisir ul li
{
    list-style: none;
    color: #black;
    font-weight: 500;
    margin: 10px 0;
}
.loisir ul li .fa
{
    color: rgb(60, 167, 108);
    font-size: 18px;
    width: 20px;
}
