p{
    font-size: 40px; 
    text-align: center;
    color: aliceblue;        
}
body{ background-color: rgb(80, 72, 17);}
 .photo{
    style=" margin-right: 25px;: au: 100px; float: left; width: 125px; height: 125px;" alt="">    <b style="font-size: 25px; color: black;"
 }


 