

#photo0{

    width: 1340px;
     height: 200px; 

}


body{ background-color: rgb(80, 72, 17);}
 
 
#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue;        
}

    #photo1{

        float: left;
        width: 100px;
        height: ;
    }
     
        
 