p{
    font-size: 40px; 
    text-align: center;
    color: aliceblue;        
}
body{ background-color: rgb(80, 72, 17);}
 
 
#fichier1{

    ont-size: 40px; 
    text-align: center;
    color: aliceblue;        
}
#
 