

#photo0{

    width: 1340px;
     height: 200px; 

}


body{ background-color: rgb(80, 72, 17);}
 
 
#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue;        
}

    #photo1{

        flex-direction: left;
        width: 200px;
        height: 200px;
        
    }
     
    #fichier2{

        font-size: 30px;
        margin-left: 200px;
    }
      
    #monnom{

        color: aliceblue;
    }

    #monprenoms{

        color: aliceblue;
    }

    #montelephone{

        color: aliceblue;
    }
 