p{
    font-size: 40px; 
    text-align: center;
    color: aliceblue;
    <p>
                <a href="index.html"> ACCUEIL </a> /
                <a href="about.html"> APROPOS </a> /
                <a href="contact.html">  CONTACT </a>
            </p>
}