

#photo0{

    width: 1340px;
     height: 200px; 

}


body{ background-color: rgb(80, 72, 17);}
 
 
#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue;        
}

    #photo1{

        float: left;
        width: 200px;
        height: 200px;
        margin: 25px;
    }
     
    #fichier2{

        font-size: 30px;
        margin-left: 250px;
    }
      
    #monnom{

        color: rgb(255, 166, 0);
    }

    #monprenoms{

        color: rgb(255, 166, 0);
    }

    #montelephone{

        color: rgb(255, 166, 0);
    }

    #fichier22{

        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        margin: 50px;
        color: rgb(224, 230, 172);
    }

    #copy{

        color: rgb(255, 166, 0);

    }

    #fichier2{

        color: aliceblue;
    }

    #ficier3{

        color: aliceblue;
        font-size: 25px;
    }

    #montel{

        color: #e4980d;
        font-size: 50px;

    }

    #monmail{

        color: #e4980d;
        font-size: 40px;
    }

    #monfb{

        color: #e4980d;
        font: 60px;
        ma
    }

    #bye{

        color: aliceblue;
        font-size: 80px;
        text-align: center;
    }



 