
head{

    #photo I
}

body{ background-color: rgb(80, 72, 17);}
 
 
#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue;        
}

 #fichier2{

    background-color: rgb(80, 72, 17);
    color:aliceblue"
     margin-right: 25px;: au: 100px;
     float: left;
      width: 125px;
       height: 125px;    
        
 }