body{

    background-color:rgb(80, 72, 17)
    h
}




#photo0{

    width: 100%;
    height: 200px;

}



#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue
    
    vertical-align: -.125em;
  fill: currentColor;
}

div{

    
    border: 2px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    
}