
#copy{

    color: rgb(255, 166, 00);
    text-align: center;
}

body{
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#photo0{
     
    width: 100%;
    height: 200px;

}



#fichier1{

    font-size: 40px; 
    text-align: right;
    color: aliceblue 
  
}

div{

    
    border: 2px;
    text-align: left;
    font-size: 20px;
    color: black;
   
}

#vide{

    height: 5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#deco{

    text-align: center;
}

#fichier11{

    text-align: center;
}

#deco2{

    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

#merci{
    font-size: 75px;
    text-align: right;
    color: aliceblue;
}

#revenir{

    text-align: center;
}
 
main{
    
    box-shadowb: 30px 0px 40px rgb(196, 196, 196), -30px 0px 40px rgb(196, 196, 196);
    margin: auto;
    width: 100%;
}

.srkl{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: #fff;
    width: 100%;
}

header{

    height: 160px;
    padding-top: 10px;
    color: white;
    background-color: #333;
}
.photo{
    margin-left: 7%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
    ruby-position: inline;
}
.des{

    margin-left: 25%;
    margin-top: -10%;
}

h3{

    color: #13c3ba;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 30px;
}
.post{

    color: orange;
    font-weight: bold;
    letter-spacing: .1rem;
}
.right{

    margin: 5px;
    padding: 0px;
    margin-top: -10px;
}

.right p{

    margin-left: 600px;
    letter-spacing: .1rem;
}

.info{

    width: 20px;
    height: 20px;
}

.section-left{

    background-color: #fff;
    float: left;
    width: 400%;
}
.section-right{

    background-color: #fff;
    float: right;
    width: 400%;
}
h4{

    margin-left: 10%;
    color: #13c3ba;
    letter-spacing: .1rem;
    font-size: 18px;
}
hr.light{

    border-top: 2px solid #13c3ba;
    width: 90%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.atouts{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10%;
}

.div{

    margin-left: 10%;
}

.skls{

    padding: 0;
    width: 40%;
    margin-left: 10%;
}
.cool{

    background-color: #fff;
    border: 2px solid #ccc;
    width: 300px;
    height: 7px;
}

.po{

    margin-top: 20px;
}

strong{

    color: 13c3ba;
    text-decoration: none;
}
.inner{
    height: 100%;
    background-color: orange;
}

.interet{
    margin-left: 10%;

}

span{

    margin-left: 10%;
}

#im0001{
    width: 10%;
    height: 10%;
}
#im0000001{
    width: 10%;
    height: 10%;
}
