body{

    background-color:rgb(80, 72, 17)
    
}




#photo0{

    height: 15px;
    

}

#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue
    
}

div{

    border: 2px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    
}