body{

    background-color:rgb(80, 72, 17)
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    
}




#photo0{

    width: 100%;
    height: 200px;

}



#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue
    
    
}

div{

    
    border: 2px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    
}