
#copy{

    color: rgb(255, 166, 00);
    text-align: center;
}

body{

    background-color:rgb(80, 72, 17)
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#photo0{
     
    width: 100%;
    height: 200px;

}



#fichier1{

    font-size: 40px; 
    text-align: right;
    color: aliceblue 
  
}

div{

    
    border: 2px;
    text-align: left;
    font-size: 20px;
    color: black;
   
}

#vide{

    height: 5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#deco{

    text-align: center;
}

#fichier11{

    text-align: center;
}

#deco2{

    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

#merci{
    font-size: 75px;
    text-align: right;
    color: aliceblue;
}

#image7{
    
    width: 15%;
    height: 15%px;
    margin: 50px;
    
}
#revenir{

    text-align: center;
}

#image7{
    width: 100%;
    height: 100%;
}
 
main{
    box-shadow: 30px 0px 40px rgb(196, 196, 196), -30px 0px 40px rgb(196, 196, 196);
    margin: auto;
    max-width: 900px;
}

.srkl{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: #fff;
    width: 100%;
}

header{

    height: 160px;
    padding-top: 10px;
    color: white;
    background-color: #333;
}
.photo{
    margin-left: 7%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
}
.des{

    margin-left: 25%;
    margin-top: -10%;
}

h3{

    color: #13c3ba;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 30px;
}
.post{

    color: orange;
    font-weight: bold;
    letter-spacing: .1rem;
}
.right{

    margin: 5px;
    padding: 0px;
    margin-top: -10px;
}

.right p{

    margin-left: 600px;
    letter-spacing: .1rem;
}

.info{

    width: 20px;
    he
}
