body{

    background-color:rgb(136, 136, 133)
    
}




#photo0{

    width: 100%;
    height: 300px;

}


#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue
    
}

div{

    border: 2px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    
}