body{

    background-color:rgb(230, 228, 216)
    
}




#photo0{

    height: 200px;
    width: 100%;
    
    

}

#fichier1{

    font-size: 40px; 
    text-align: center;
    color: aliceblue
    
}

div{

    border: 2px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    
}